.card {
  border: none;
  border-radius: 10px;
}

.card-header {
  font-weight: bold;
}

.card-title {
  font-size: 1.25rem;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.container {
  margin-top: 20px;
}
